/* 640 - 768 - 1024 - 1280 - 1536 */

body {
  max-height: 100dvh;
  overflow: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.leftAside-width {
  padding: 1rem;
  width: var(--leftAside-width);
}

.rubro-filter {
  padding-right: 3.5rem;
  margin: 0;
}

.navbar-container {
  height: var(--navbar-height);
}

.main-height {
  height: var(--main-height);
}

.footer-height {
  height: var(--footer-height);
}

.main-page {
  flex-direction: row;
}

.table-container {
  width: var(--table-width);
  margin: auto;
  height: 90%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.modal-container {
  width: 33%;
}

.histo-modal-container {
  width: 70%;
  min-height: 50dvh;
}

.edit-form-container {
  gap: 1rem;
}

.aside-links {
  flex-direction: column;
}

.weblink-container {
  width: 50%;
}

.user-menu-modal {
  top: 2.25rem;
  bottom: -7rem;
  left: 0;
  right: 0;
}

.sectores-gap {
  gap: 0.5rem;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 720px) {

  body {
    min-height: 100dvh;
    max-height: max-content;
    overflow: visible;
  }

  .main-page {
    flex-direction: column;
  }


  .table-container {
    width: 100%;
    overflow-y: visible;

  }

  .main-height {
    height: max-content;
    min-height: var(--main-height);
  }

  .leftAside-width {
    padding: 0;
    width: 70%;
    margin: 8rem auto;
  }

  .rubro-filter {
    padding-right: 0rem;
    padding-bottom: 2rem;
  }

  .navbar-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #0a0a0add;
    backdrop-filter: blur(2px);
  }

  .modal-container {
    width: 90%;
  }

  .histo-modal-container {
    width: 100%;
  }

  .edit-form-container {
    width: 80%;
    gap: 2rem
  }

  .aside-links {
    flex-direction: row;
    width: 50%;
  }

  .weblink-container {
    width: 80%;
  }

  .sectores-gap {
    gap: 0.5rem 1.5rem;
  }
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1536px) {

  .navbar-container {
    height: 7dvh;
  }

  .main-height {
    height: 88dvh;
  }

  .user-menu-modal {
    top: 3.5rem;
    bottom: -7rem;
    left: 0;
    right: 0;
  }
}