/* 640 - 768 - 1024 - 1280 - 1536 */

.leftAside-width {
  padding: 1rem;
  width: var(--leftAside-width);
}

.rightAside-width {
  width: var(--rightAside-width)
}

.rightAside-width ul {
  flex-direction: column;
}

.navbar-height {
  height: var(--navbar-height);
}

.main-height {
  height: var(--main-height);
}

.footer-height {
  height: var(--footer-height);
}

.main-page {
  flex-direction: row;
}

.table-container {
  width: var(--table-width);
  height: 100%;
  padding: 10rem 3rem;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

@media (max-width: 720px) {

  body {
    min-height: 100dvh;
  }

  .main-page {
    flex-direction: column;
  }


  .table-container {
    width: 100%;
    overflow-y: visible;

  }

  .main-height {
    height: max-content;
    min-height: var(--main-height);
  }

  .leftAside-width {
    padding: 0;
    width: 70%;
    margin: 3rem auto;
    margin-bottom: 0;
  }

  .rightAside-width {
    width: 70%;
    margin: 0 auto;
  }

  .rightAside-width ul {
    flex-direction: row;
  }
}