@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-height: 93dvh;
  --leftAside-width: 20dvw;
  --table-width: 68dvw;
  --rightAside-width: 12dvw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.leftAside-width {
  width: var(--leftAside-width)
}

.rightAside-width {
  width: var(--rightAside-width)
}

.table-width {
  width: var(--table-width);
}

.main-height {
  height: var(--main-height);
}

.footer-height {
  height: calc(100dvh - var(--main-height));
}