@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*    measures     */
:root {
  --navbar-height: 10dvh;
  --main-height: 85dvh;
  --footer-height: 5dvh;
  --leftAside-width: 20dvw;
  --table-width: 60dvw;
}

/*      colors       */
:root {
  --white: #cacaca;
  --white80: #cacaca80;
  --white25: #cacaca25;
  --black: #404040;
  --black80: #40404080;
  --black25: #40404025;
  --gray: #888;
  --gray-dark: #555;

  --ragazzi: #ffff7d50;
  --patricios: #7dfd7d50;
  --palihue: #ffc8c875;
  --jmolina: #9ed7ff50;

  --background-light: linear-gradient(125deg, #eee, #999);
  --background-dark: linear-gradient(125deg, #202020, #111);
  --nav-bg-light: linear-gradient(125deg, #eee, #ccc);
  --nav-bg-dark: linear-gradient(125deg, #202020, #191919);

}

/*      theme        */
:root {
  --background: var(--background-light);
  --nav-bg: var(--nav-bg-light);
  --foreground: var(--black);
  --foreground80: var(--black80);
  --foreground25: var(--black25);
  --bg-card: var(--gray);
}

[data-theme='dark'] {
  --background: var(--background-dark);
  --nav-bg: var(--nav-bg-dark);
  --foreground: var(--white);
  --foreground80: var(--white80);
  --foreground25: var(--white25);
  --bg-card: var(--gray-dark);
}

/* @media (prefers-color-scheme: dark) {
  .main-page {
    background-color: blue;
  }
} */



dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

.todos {
  background: var(--foreground25)
}

.ragazzi {
  background: var(--ragazzi)
}

.patricios {
  background: var(--patricios)
}

.palihue {
  background: var(--palihue)
}

.jmolina {
  background: var(--jmolina)
}

input[type="checkbox"] {
  accent-color: var(--gray);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.25);
  background-image: url('./_assets/calendar.svg');
  scale: 1.35;
}


@layer components {
  .btn-main {
    @apply px-6 py-4 bg-black text-white border border-[#222] rounded-lg transition shadow tracking-wide font-semibold grow flex justify-center items-center h-20
  }

  .btn-main:hover {
    @apply hover:bg-black80 hover:text-white
  }


  .btn-main-error {
    @apply px-4 py-2 text-[#222] border border-black rounded-lg transition shadow tracking-wide font-semibold grow flex justify-center items-center
  }

  .btn-main-error:hover {
    @apply hover:bg-[#ff000025]
  }


  .btn-main-success {
    @apply px-4 py-2 bg-black80 text-[#222] border border-black rounded-lg transition shadow tracking-wide font-semibold grow flex justify-center items-center
  }

  .btn-main-success:hover {
    @apply hover:bg-[#00800050]
  }


  .btn-main-ghost {
    @apply px-4 py-2 text-[#222] rounded-lg transition shadow tracking-wide font-semibold grow flex justify-center items-center
  }

  .btn-main-ghost:hover {
    @apply hover:bg-black25
  }


  .card {
    @apply bg-card p-8 px-20 rounded-lg border border-black80 shadow
  }

  .input-main {
    @apply bg-white80 py-2 px-4 rounded-lg border border-white shadow text-black
  }

  .input-main:hover {
    @apply bg-black25
  }

  .input-main::placeholder {
    @apply text-black80
  }


  .badge-main {
    @apply w-full rounded-xl py-1 px-4 text-foreground border border-black25 cursor-pointer shadow tracking-wider text-center
  }

  .badge-main:hover {
    @apply hover:text-foreground80
  }
}

/* 
:root {

  --primary-grad-red: linear-gradient(to bottom, rgb(177, 33, 33), rgb(104, 29, 29));
  --primary-red: rgb(104, 29, 29);
  --card-grad: radial-gradient(50% 50% at center center, #eee, #aaa), linear-gradient(180deg, #fff, #888);

  --white: #cacaca;
  --black: #222;
  --gray: #444;
  --gray-light: #888;

  --ragazzi: #ffff7d88;
  --patricios: #7dfd7d88;
  --palihue: #ffc8c888;
  --jmolina: #9ed7ff88;

  --background-light: linear-gradient(125deg, #aaa, #777);
  --background-dark: linear-gradient(125deg, #2a2a2a, #111);
  --text-dark: var(--black);
  --text-light: var(--white);

  --menu-alpha: #262626ee;

  --background: var(--background-light);
  --text: var(--text-dark);

  --primary-btn-bg: var(--gray);
  --primary-btn-text: var(--text-light);
  --primary-btn-bg-hover: var(--background-light);
  --primary-btn-text-hover: var(--text-dark);

  --link-bg: transparent;
  --link-text: var(--text-dark);
  --link-bg-hover: var(--gray-light);
  --link-text-hover: var(--text-light);
  --link-active-bg: var(--gray);
  --link-active-text: var(--text-light);

  --weblink-hover: var(--gray-light);
  --dashboard-logo-bg-light: url("./_assets/dashboard-logo-light.svg");
  --dashboard-logo-bg: var(--dashboard-logo-bg-light);
  --logo-light: url("./_assets/logo-light.svg");
  --logo-bg: var(--logo-light);
  --logo-bg-inv: url("./_assets/logo-dark.svg");

  --header-bg: var(--white);
  --hamb-menu-color: var(--black);
  --hamb-menu-bg: var(--white);
  --pago-menu-bg: var(--gray-light);

  --movil-menu-active: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --text: var(--text-light);
    --card-grad: radial-gradient(50% 50% at center center, rgba(4, 4, 4, .66), #2a2a2a), linear-gradient(180deg, #fff, #262626);

    --primary-btn-bg: var(--background-dark);
    --primary-btn-text: var(--text-light);
    --primary-btn-bg-hover: var(--background-light);
    --primary-btn-text-hover: var(--text-dark);

    --link-text: var(--text-light);
    --link-bg-hover: var(--background-dark);
    --link-text-hover: var(--text-light);
    --link-active-bg: var(--background-dark);
    --link-active-text: var(--text-light);

    --weblink-hover: var(--gray);
    --dashboard-logo-bg-dark: url("./_assets/dashboard-logo-dark.svg");
    --dashboard-logo-bg: var(--dashboard-logo-bg-dark);
    --logo-dark: url("./_assets/logo-dark.svg");
    --logo-bg: var(--logo-dark);
    --logo-bg-inv: url("./_assets/logo-light.svg");

    --header-bg: var(--gray);
    --hamb-menu-color: var(--white);
    --hamb-menu-bg: var(--gray);
    --pago-menu-bg: var(--gray);

    --movil-menu-active: var(--gray);
  }
}

body {
  color: var(--text);
  background: var(--dashboard-logo-bg), var(--background);
  background-size: 30px;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
  background: var(--logo-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-container-inv {
  background: var(--logo-bg-inv);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

*/