/* 640 - 768 - 1024 - 1280 - 1536 */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////           1920            //////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */

body {
  /* max-height: 100dvh; */
  /* overflow: hidden; */
  color: var(--foreground);
  background: var(--logo-bg), var(--background);
  background-size: 30px;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

.page {
  height: var(--main-height);
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
}

.page-top {
  justify-content: center;
}

.leftAside {
  padding: 1rem;
  width: var(--leftAside-width);
  /* border: 1px solid white; */
}

.rubro-filter {
  padding-right: 3.5rem;
  margin: 0;
}

.month-gap {
  gap: 0.5rem 0.5rem;
}

.navbar-container {
  height: var(--navbar-height);
}

.footer-height {
  height: var(--footer-height);
}

.main-page {
  flex-direction: row;
}

.table-container {
  width: var(--table-width);
  margin: auto;
  /* height: min(90%, auto); */
  min-height: 90%;
  /* min-height: max-content; */
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-right: 2rem;
  border-radius: 0.5rem;
  /* backdrop-filter: blur(5px); */
  /* background: var(--table-bg); */
  /* border: 1px solid yellow; */
}

.modal-container {
  width: 33%;
}

.histo-modal-container {
  width: 70%;
  min-height: 50dvh;
}

.edit-form-container {
  gap: 1rem;
}

.aside-links {
  flex-direction: column;
}

.weblink-edit,
.weblink-container {
  width: 50%;
}

.weblink-modal-img {
  width: 600px;
  height: 400px;
  margin: 2rem;
  margin-top: 0;
}

.user-menu-modal {
  top: 4.5rem;
  bottom: -7rem;
  left: 0;
  right: 0;
}

.sectores-gap {
  gap: 0.75rem;
}

.calc-container {
  top: 0.25rem;
  left: 0;
}

.pago-header {
  width: 60dvw;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////         720               ////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 720px) {

  input {
    font-size: 12px;
  }

  body {
    min-height: 100dvh;
    overflow: visible;
    /* border: 1px solid red; */
  }

  .page {
    flex-direction: column;
    min-height: 95dvh;
    height: max-content;
  }

  .page-top {
    justify-content: start;
    padding-top: 10rem;
  }

  .table-container {
    width: 100%;
    overflow-y: visible;
    padding-right: 0;
    padding-bottom: 4rem;
    /* border: 1px solid green; */
  }

  .leftAside {
    padding: 0;
    width: 80%;
    margin: 6rem auto;
    margin-bottom: 4rem;
    display: flex;
  }

  .rubro-filter {
    padding-right: 0rem;
    padding-bottom: 2rem;
    width: 100%;
  }

  .month-gap {
    gap: 1.5rem 0.5rem;
  }

  .navbar-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: var(--nav-bg);
    backdrop-filter: blur(10px);
  }

  .modal-container {
    width: 90%;
  }

  .histo-modal-container {
    width: 100%;
  }

  .edit-form-container {
    width: 90%;
    gap: 2rem
  }

  .aside-links {
    flex-direction: row;
    width: 50%;
  }

  .weblink-edit,
  .weblink-container {
    width: 90%;
  }

  .weblink-edit>div {
    flex-direction: column;
  }
  .weblink-modal-container {
    width: 100%;
    padding: 4rem 0;
  }
  .weblink-modal-img {
    width: 100%;
    aspect-ratio: 3/2;
    margin: 0;
  }

  .sectores-gap {
    gap: 2rem 1rem;
  }

  .admin-sectores {
    margin-top: 8rem;
    width: 75%;
    margin-bottom: 4rem;
  }

  .calc-container {
    top: 2.5rem;
    left: 1rem;
  }

  .pago-header {
    width: 100dvw;
  }

  .pago-header ul li {
    font-size: 10px;
  }

}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////         1366            ///////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1536px) {

  body {
    font-size: 12px;
  }

  .navbar-container {
    height: 7dvh;
  }

  .main-height {
    height: 88dvh;
  }

  .user-menu-modal {
    top: 1.5rem;
    bottom: -7rem;
    left: 0;
    right: 0;
    font-size: 12px;
  }

  nav button {
    font-size: 12px;
  }

  svg {
    transform: scale(0.75);
  }

  input,
  select {
    font-size: 12px;
  }

  /*    pendientes       */

  .font-leftAside-pend-sector {
    font-size: 11px;
  }

  .font-leftAside-pend-inputs {
    font-size: 9px;
  }

  .rubro-filter li {
    font-size: 12px;
  }

  /*     realizados       */
  .font-leftAside-real-mes {
    font-size: 8px;
  }

  /*      admin           */
  .leftAside-admin div {
    gap: 0.5rem
  }

  /*      admin-sectores          */
  .admin-sectores-rubro {
    font-size: 11px;
  }

  .admin-sectores-sector {
    font-size: 9px;
    padding: 0 0.5rem;
  }

  .admin-sectores-new button {
    width: 1.5rem;
    height: 1.5rem;
  }

  /*      admin-weblinks          */
  .weblink-img {
    width: 70px;
    height: 50px;
  }

}


