@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 5dvh;
  --main-height: 90dvh;
  --footer-height: 5dvh;
  --leftAside-width: 20dvw;
  --table-width: 60dvw;
  --rightAside-width: 12dvw;
}

:root,
[data-theme] {
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
}